@{
    ViewData["Title"] = "";
}

<h1>@ViewData["Title"]</h1>
<br />
<br />

    <h1 style="text-align:center;">PASSENGERS TASKS</h1>
 <div class="list">
		<h2>TRAVEL DOCUMENTS</h2>
		<label>
			<input type="checkbox" name="">
			<i></i>
			<span>Valid Pasport *</span>
		</label>
		<label>
			<input type="checkbox" name="">
			<i></i>
			<span>Valid VISA</span>
		</label>
		<label>
			<input type="checkbox" name="">
			<i></i>
			<span>Valid National ID Card *</span>
		</label>
		<label>
			<input type="checkbox" name="">
			<i></i>
			<span>Valid Nexus Card</span>
		</label>
	<label>
		<input type="checkbox" name="">
		<i></i>
		<span>Valid Paid Flight Tax *</span>
	</label>
	<label>
		<br/>
		<h2>HEALTH TRAVEL DOCUMENTS</h2>
		<label>
			<input type="checkbox" name="">
			<i></i>
			<span>Yellow Fever Vaccination Certificate</span>
		</label>
		<label>
		<input type="checkbox" name="">
		<i></i>
		<span>COVID-19 Travel Document</span>
	</label>
	<label>
			<input type="checkbox" name="">
			<i></i>
			<span>IATA Timatic Widget</span>
		</label>
		<br />
		<h2>TRAVEL ITINERARY DETAILS</h2>
		<label>
			<input type="checkbox" name="">
			<i></i>
			<span>Flight Ticket Details *</span>
		</label>
		<label>
			<input type="checkbox" name="">
			<i></i>
			<span>Accommodation Reservation</span>
		</label>
		<label>
			<input type="checkbox" name="">
			<i></i>
			<span>Car Rental Confirmation</span>
		</label>
		<br />
		<label>
			<input type="checkbox" name="">
			<i></i>
			<span>Other Document</span>
		</label>
	<br />

	<button id="myBtn" style="
background-color: #03A9F4;
color: #ffff;
border: none; 
border-radius: 5px; 
width: 100%; 
font-weight: 400; 
font-size: 20px;" type="submit">SEND</button>