@{
    ViewData["Title"] = "";
}

<h1>@ViewData["Title"]</h1>
<br />
<br />

    <h1>HOW IT ALL STARTED</h1>
    <br />
<br />

    <ul>
        <li style="--accent-color:#41516C">
            <div class="date">2002</div>
            <div class="title">We created FlyBy</div>
            <div class="descr">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas itaque hic quibusdam fugiat est numquam harum, accusamus suscipit consequatur laboriosam!</div>
        </li>
        <li style="--accent-color:#FBCA3E">
            <div class="date">2007</div>
            <div class="title">Our first flight</div>
            <div class="descr">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos adipisci nobis nostrum vero nihil veniam.</div>
        </li>
        <li style="--accent-color:#E24A68">
            <div class="date">2012</div>
            <div class="title">International Airlines</div>
            <div class="descr">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga minima consequuntur soluta placeat iure totam commodi repellendus ea delectus, libero fugit quod reprehenderit, sequi quo, et dolorum saepe nulla hic.</div>
        </li>
        <li style="--accent-color:#1B5F8C">
            <div class="date">2017</div>
            <div class="title">Most preferred company</div>
            <div class="descr">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit, cumque.</div>
        </li>
        <li style="--accent-color:#4CADAD">
            <div class="date">2022</div>
            <div class="title">Until today...</div>
            <div class="descr">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit, non.</div>
        </li>
    <li style="--accent-color:#484296">
        <div class="date">2023</div>
        <div class="title">Until today...</div>
        <div class="descr">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit, non.</div>
    </li>
    </ul>
    <div class="credits"><a target="_blank" href="https://www.freepik.com/free-vector/infographic-template-with-yearly-info_1252895.htm">inspired by FlyBy</a></div>
    <br />
    <br />
<br />

