@{
    ViewData["Title"] = "";
}

<h1>@ViewData["Title"]</h1>
<br />
<br />

    <h1 style="text-align:center;">PASSENGERS TASKS AND INFORMATION</h1>
<h5 style="text-align:center;">What every passenger needs to know and carry with them</h5>
 <div class="list" id="myForm">
		<h2>TRAVEL DOCUMENTS</h2>
		<label>
			<input type="checkbox" name="">
			<i></i>
			<span>Valid Pasport *</span>
		</label>
		<label>
			<input type="checkbox" name="">
			<i></i>
			<span>Valid VISA</span>
		</label>
		<label>
			<input type="checkbox" name="">
			<i></i>
			<span>Valid National ID Card *</span>
		</label>
		<label>
			<input type="checkbox" name="">
			<i></i>
			<span>Valid Nexus Card</span>
		</label>
	<label>
		<input type="checkbox" name="">
		<i></i>
		<span>Valid Paid Flight Tax *</span>
	</label>
		<br/>
		<h2>HEALTH TRAVEL DOCUMENTS</h2>
		<label>
			<input type="checkbox" name="">
			<i></i>
			<span>Yellow Fever Vaccination Certificate</span>
		</label>
		<label>
		<input type="checkbox" name="">
		<i></i>
		<span>COVID-19 Travel Document</span>
	</label>
	<label>
			<input type="checkbox" name="">
			<i></i>
			<span>IATA Timatic Widget</span>
		</label>
		<br />
		<h2>TRAVEL ITINERARY DETAILS</h2>
		<label>
			<input type="checkbox" name="">
			<i></i>
			<span>Flight Ticket Details *</span>
		</label>
		<label>
			<input type="checkbox" name="">
			<i></i>
			<span>Accommodation Reservation</span>
		</label>
		<label>
			<input type="checkbox" name="">
			<i></i>
			<span>Car Rental Confirmation</span>
		</label>
		<br />
		<label>
			<input type="checkbox" name="">
			<i></i>
			<span>Other Documents</span>
		</label>

		<br />
		<label>
			<input type="input" name="" style="border: none; border-radius: 5px;">
			<span>Flight Number</span>
		</label>
		<label>
		<input type="input" name="" style="border: none; border-radius: 5px;">
		<span>First Name</span>
	</label>
	<label>
	<input type="input" name="" style="border: none; border-radius: 5px;">
	<span>Last Name</span>
	</label>
		<label>
			<input type="input" name="" style="border: none; border-radius: 5px;">
			<span>Passport Number</span>
		</label>
		<label>
			<input type="input" name="" style="border: none; border-radius: 5px;" placeholder="Travel From">
			<span>Destination From</span>
		</label>
		<label>
			<input type="input" name="" style="border: none; border-radius: 5px;" placeholder="Travel To">
			<span>Destination To</span>
		</label>
		<br />
		<h5 style="color: #fff;">Addition Information - Image</h5>
	<h6 style="color: #fff;">Passport Image Requirement (2 x 2 inches (51 x 51 mm))</h6>
	<h6 style="color: #fff;">Head must be between 1 -1 3/8 inches (25 - 35 mm) from the bottom of the chin to the top of the head.</h6>
	<br />
	<div class="container-image">
    <!-- Input element to choose images -->
    <input type="file" id="select-image" multiple>
    <label class="label-img" for="select-image">
        <?xml version="1.0" ?><svg viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M1344 1472q0-26-19-45t-45-19-45 19-19 45 19 45 45 19 45-19 19-45zm256 0q0-26-19-45t-45-19-45 19-19 45 19 45 45 19 45-19 19-45zm128-224v320q0 40-28 68t-68 28h-1472q-40 0-68-28t-28-68v-320q0-40 28-68t68-28h427q21 56 70.5 92t110.5 36h256q61 0 110.5-36t70.5-92h427q40 0 68 28t28 68zm-325-648q-17 40-59 40h-256v448q0 26-19 45t-45 19h-256q-26 0-45-19t-19-45v-448h-256q-42 0-59-40-17-39 14-69l448-448q18-19 45-19t45 19l448 448q31 30 14 69z" />
        </svg>
        Choose Images
    </label>

    <div class="preview_image">
        <!-- It will show the total number of files selected -->
        <p><span id="total-images">0</span> File(s) Selected</p>

        <!-- All images will display inside this div -->
        <div id="images"></div>
    </div>
</div>
	<br />
	<div id="loader-overlay">
  <div class="loader">
    <i class="fas fa-plane"></i> <!-- Custom plane icon -->
  </div>
</div>
</div>
	<button id="myButton" onclick="handleButtonClick()" style="background-color: #03A9F4; color: #fff; border: none; border-radius: 3px;  width: 100%;  height: 50px; font-weight: 400;  font-size: 20px;">Submit</button>
