@{
    ViewData["Title"] = "Flights";
}
<style>
        #flights {
        border-collapse: collapse;
        width: 100%;
    }
        #flights td, #flights th {
      border: 1px solid #ddd;
      padding: 8px;
    }
        #flights tr:nth-child(even){background-color: #f2f2f2;}

    #flights tr:hover {background-color: #ddd;}

    #flights th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-image: linear-gradient(to top, #6a85b6 0%, #bac8e0 100%);
      color: white;

    }
</style>
<h1>@ViewData["Title"]</h1>
<br />
<br />
        <h1>Flight Information</h1>
<div class="container" style="overflow-x:auto;">
    <div class="row">

        <table id="flights">
            <tr>
                <th>Date</th>
                <th>Time</th>
                <th>Flight</th>
                <th>From</th>
                <th>Terminal</th>
                <th>Airline</th>
                <th>Status</th>
            </tr>
            <tr>
                <td>01/03/2023</td>
                <td>03:15 AM</td>
                <td>W0034</td>
                <td>Austria, Vienna</td>
                <td>T1</td>
                <td>Wizz Air</td>
                <td>Landed 00:12 PM</td>
            </tr>
            <tr>
                <td>05/03/2023</td>
                <td>2:35 PM</td>
                <td>R9887</td>
                <td>Bulgaria, Plovdiv</td>
                <td>T1</td>
                <td>Ryanair</td>
                <td>Departed 14:12 PM</td>
            </tr>
            <tr>
                <td>10/03/2023</td>
                <td>00:35 AM</td>
                <td>P9007</td>
                <td>Turkey, Istanbul</td>
                <td>T2</td>
                <td>Pegasus</td>
                <td>Landed 10:10 AM</td>
            </tr>
            <tr>
                <td>23/03/2023</td>
                <td>09:40 AM</td>
                <td>R3472</td>
                <td>Italy, Rome</td>
                <td>T2</td>
                <td>Ryanair</td>
                <td>Landed 14:10 PM</td>
            </tr>
            <tr>
                <td>24/03/2023</td>
                <td>2:05 PM</td>
                <td>BUC315</td>
                <td>Morroco, Marrakech</td>
                <td>T2</td>
                <td>European Airline</td>
                <td>Landed 07:15 PM</td>
            </tr>
            <tr>
                <td>01/04/2023</td>
                <td>16:25 PM</td>
                <td>EZY3787</td>
                <td>UK, London</td>
                <td>T1</td>
                <td>European Air Charter</td>
                <td>Departed 14:30 PM</td>
            </tr>
            <tr>
                <td>03/04/2023</td>
                <td>06:15 PM</td>
                <td>W6452</td>
                <td>Bulgaria, Sofia</td>
                <td>T1</td>
                <td>Wizz Air</td>
                <td>Departed 7:10 PM</td>
            </tr>
            <tr>
                <td>06/03/2023</td>
                <td>1:35 AM</td>
                <td>R8887</td>
                <td>UK, Dublin</td>
                <td>T1</td>
                <td>Ryanair</td>
                <td>Departed 11:05 PM</td>
            </tr>
            <tr>
                <td>07/04/2023</td>
                <td>00:10 AM</td>
                <td>OST72</td>
                <td>Germany, Munic</td>
                <td>T1</td>
                <td>Austrian Airlines</td>
                <td>Departed 01:00 AM</td>
            </tr>
            <tr>
                <td>10/04/2023</td>
                <td>01:57 PM</td>
                <td>R9887</td>
                <td>AED, Abu Dhabi</td>
                <td>T1</td>
                <td>Wizz Air</td>
                <td>Landed 01:35 PM</td>
            </tr>

        </table>
</div>
</div>