@page
@model WebApp.Views.Home.ForgotPasswordModel
@{
}
<br />
<br />
<br />
<br />
<br />
<h1 style="text-align: center;">Forgot Password Page</h1>
<br />
<form>
    <div class="container">
        <div class="row mb-4 justify-content-md-center">
            <div class="col-md-4">
                <div class="form-outline">
                    <input type="text" id="form3Example1" class="form-control" />
                    <label class="form-label" for="form3Example1">First name</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-outline">
                    <input type="text" id="form3Example2" class="form-control" />
                    <label class="form-label" for="form3Example2">Last name</label>
                </div>
            </div>
        </div>

        <!-- Email input -->
        <div class="row mb-4 justify-content-md-center">
            <div class="col-md-8 form-outline mb-4 ">
                <input type="email" id="form3Example3" class="form-control" />
                <label class="form-label" for="form3Example3">Email address</label>
            </div>

        <!-- Submit button -->
        <div class="container">
                <div class="row mb-4 justify-content-md-center">
                    <button type="submit" class="col-md-2 btn btn-primary btn-block mb-4" asp-action="ForgotPassword">Forgot Password</button>
                </div>
                <div class="row mb-2 justify-content-md-start">
                    <button type="submit" class="col-md-2 btn btn-primary btn-block mb-4" asp-action="Login">Go back</button>
                </div>
            </div>
        </div>
        
</form>
<br />
<br />
<br />
<br />
<br />