@{
    ViewData["Title"] = "";
}
<h1>FAQ</h1>
<br />
<h1>How can I join the programme?</h1>
<br />
<p>
    <h2>How and when are the points credited to my account?</h2> - The points are credited to your account within 7 days after the flight on the relevant segment. For this purpose the card number must be entered in the reservation or at the 'check-in' counters at the airport.

    Are points credited for previous flights? - Yes, for all flights flown not later than 6 months before the date of claiming the points.

    
    <h2> How many points can I get for one segment? </h2> - Points are calculated on the basis of the ticket price. You can get for one segment on an international flight in economy class between 80 and 1,500 points. More information about collecting points is available in the section Points collection system;

    <h2>In what case there are no points credited to the account?</h2> - Points are not credited for flights and other services with which the passenger has participated in programmes of other aviation companies, charter flights, free tickets, tickets with other types of discounts and tickets at some promotional fares. Passengers are not granted points on code-share flights, not operated by Bulgaria Air itself, when the purchased ticket is not issued by Bulgaria Air and the ticket number does not start with the digits 623.

    <h2>What is the period of validity of points?</h2> - Points are valid for 3 years as from the date of the flight.

    <h2>Can bonus points be collected from different FLYMORE cards?</h2>

    No. Bonus points can only be exchanged if they are enough for the service requested.

    <h2>Where should I fill in the card number?</h2> - The card number should be indicated upon purchase of the ticket or upon check-in at the airport. If the ticket is purchased online, there is a special field 'frequent flyer number' in the section for personal data. If you decide to fill in the card number before the flight, you should advise the staff at the 'check-in' counter at the airport.

    <h2>How many persons can use the card?</h2> - The card is personal and only the card holder may use it and collect points for flights.

    <h2>What can I use the points for?</h2> - Points can be exchanged only for direct flights operated by Bulgaria Air for a bonus ticket, upgrade of reservation class from economy to business or for first piece of checked baggage up to 23kg for tickets issued atNOBAG / HAND BAGGAGE ONLY fare.

    <h2>Who issues bonus tickets and how can I make a reservation?</h2> Bonus tickets are issued by Bulgaria Air only. The reservation for a bonus ticket should be made at least 7 days before the desired date of travel, by sending an e-mail with the card number, destination and dates, to flymore@air.bg.

    <h2>What are the prohibited periods for issue of bonus tickets?</h2> Bonus tickets may not be used during the following periods (“blackout dates”):

    Winter season: from 15th December to 15th January – all destinations.

    Summer period: from 1st July to 10th September – all destinations.

    <h2>How can I use the booking upgrade from economy class to business class?<</h2> – For tickets issued in a fare with checked baggage included – the upgrade from economy class to business class can be done up to 2 working days prior to the flight by sending an e-mail with the card number, ticket number and the segment to be upgraded, to flymore@air.bg.

    <h2>What classes are not subject to Upgrade?</h2> Upgrade of the booking class from economy class to business class is not allowed for code-shared flights operated by other airlines. As well as for tickets issued in the following classes: promotional fares (economy class hand baggage only)in F, E, Vclasses; fares under special contracts with other aviation companies in T,B,A,Q class; youth and group reservations and individual tourist travel in V,G,E class.

    <h2>Can I use concurrently two cards under two different programmes for frequent flyers?</h2> No. You have to chose under which programme you want the points to be credited, e.g. to the CCB Club or the FLY MORE frequent flyers programme.

    <h2>How can I use a birthday voucher?</h2> - in order to use a birthday voucher you need to send the number of your FLYBY card, dates and destinations of your desired travel with Bulgaria Air, to flyby@airlines.com or callfby@airlines.com.
</p>