@page
@model WebApp.Views.Home.RegisterModel
@{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

}
<br />
<br />
<br />
<br />
<br />
<br />
<h1 style="text-align: center;">Registration Page</h1>
<br />
<form>
    <div class="container">
    <div class="row mb-4 justify-content-md-center">
        <div class="col-md-4">
            <div class="form-outline">
                <input type="text" id="form3Example1" class="form-control" />
                <label class="form-label" for="form3Example1">First name</label>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-outline">
                <input type="text" id="form3Example2" class="form-control" />
                <label class="form-label" for="form3Example2">Last name</label>
            </div>
        </div>
    </div>

    <!-- Email input -->
    <div class="row mb-4 justify-content-md-center">
    <div class="col-md-8 form-outline mb-4 ">
        <input type="email" id="form3Example3" class="form-control" />
        <label class="form-label" for="form3Example3">Email address</label>
    </div>
   
    <!-- Password input -->
    <div class="col-md-8 form-outline mb-4">
        <input type="password" id="form3Example4" class="form-control" />
        <label class="form-label" for="form3Example4">Password</label>
    </div>
    </div>
    <!-- Checkbox -->
    <div class="form-check d-flex justify-content-center mb-4">
        <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked />
        <label class="form-check-label" for="form2Example33">
            Subscribe to our newsletter
        </label>
    </div>

    <!-- Submit button -->
    <div class="row mb-4 justify-content-md-center">
    <button type="submit" class="col-md-2 btn btn-primary btn-block mb-4" id="signup">Sign up</button>
    </div>
        <div class="row mb-2 justify-content-md-start">
            <button type="submit" class="col-md-2 btn btn-primary btn-block mb-4" asp-action="Login">Go back</button>
        </div>
    <!-- Register buttons -->
    <div class="text-center">
        <p>or sign up with:</p>
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-google"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-linkedin"></a>
    </div>
    </div>

</form>
