/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-7882z672yd] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-7882z672yd] {
  color: #0077cc;
}

.btn-primary[b-7882z672yd] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-7882z672yd], .nav-pills .show > .nav-link[b-7882z672yd] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-7882z672yd] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-7882z672yd] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-7882z672yd] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-7882z672yd] {
  font-size: 1rem;
  line-height: inherit;
}

/*.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}*/

nav[b-7882z672yd] {
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    text-align: end;
    box-shadow: 0 7px 7px 0 rgba(0,0,0,.2);
}
nav:hover[b-7882z672yd]{

}

.nav-item[b-7882z672yd]{
    font-weight: 500; 
    color: #fff;
    
}
    .nav-item:hover[b-7882z672yd] {
        background: rgb(246,31,41);
        background-image: linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%);
        border-radius: 50px;
    }

.nav-link a[b-7882z672yd]{
    font-weight: bolder;
}
/*.footer {
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    text-align: center;
    color: #fff;
    font-family: 'High Tower Text';
    font-weight: 500;
    font-size: 25px;
}*/
.btn[b-7882z672yd] {
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    color: #fff;
    border: none;
    font-family: 'High Tower Text';
    font-weight: 500;
    font-size: 20px;
}

.animated[b-7882z672yd] {
    animation-duration: 3s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

@keyframes flip-b-7882z672yd {
    50% {
        transform: perspective(400px) translateZ(0) rotateY(360deg) scale(.8);
        animation-timing-function: ease-in;
    }

    80% {
        transform: perspective(400px) translateZ(0) rotateY(360deg) scale(.95);
        animation-timing-function: ease-in;
    }

    100% {
        transform: perspective(400px) translateZ(0) rotateY(360deg) scale(1);
        animation-timing-function: ease-in;
    }
}

.animated.flip[b-7882z672yd] {
    backface-visibility: visible;
    animation-name: flip-b-7882z672yd;
    font-size: 30px;
    font-weight: bolder;
    width: 150px;
    text-align: center;
}

.services[b-7882z672yd]{
    color: #fff;
}