html {
  font-size: 16px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Resetting */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #dcf4ff;
}

/*Form Body Schedule*/
.wrapper {
    max-width: 800px;
    margin: 50px auto;
    background: rgba(255,255,255,0.5);
    border-radius: 10px;
    opacity:80%;
    z-index:0;
}
/*Form*/
    .wrapper form {
        padding: 40px 50px;

    }

        .wrapper form .form-group {
            padding-bottom: .5rem;
        }

        .wrapper form .option {
            position: relative;
            padding-left: 25px;
            cursor: pointer;
            display: block;
        }

            .wrapper form .option input {
                display: none;
            }

/*Radio buttons on form*/
        .wrapper form .checkmark {
            position: absolute;
            top: 4px;
            left: 0;
            height: 17px;
            width: 17px;
            background-color: #fff;
            border: 1px solid #aaa;
            border-radius: 50%;
        }

        .wrapper form .option input:checked ~ .checkmark:after {
            display: block;
        }
/*black dot in radio button*/
        .wrapper form .option .checkmark:after {
            content: "";
            width: 7px;
            height: 7px;
            display: block;
            border-radius: 50%;
            background-color: #333;
            position: absolute;
            top: 48%;
            left: 52%;
            transform: translate(-50%, -50%) scale(0);
            transition: 200ms ease-in-out 0s;
        }

        .wrapper form .option:hover input[type="radio"] ~ .checkmark {
            background-color: #f4f4f4;
        }

        .wrapper form .option input[type="radio"]:checked ~ .checkmark {
            background: #fff;
            color: #fff;
            transition: 300ms ease-in-out 0s;
        }

            .wrapper form .option input[type="radio"]:checked ~ .checkmark:after {
                transform: translate(-50%, -50%) scale(1);
                color: #fff;
            }

        .wrapper form a {
            color: #333;
        }

        .wrapper form .form-control {
            outline: none;
            border: none;
        }

            .wrapper form .form-control:focus {
                box-shadow: none;
            }

        .wrapper form input[type="text"]:focus::placeholder {
            color: transparent
        }

input[type="date"] {
    cursor: pointer;
}

.wrapper form .label::after {
    position: absolute;
    top: 5px;
    left: 0px;
    font-size: 0.9rem;
    margin: 0rem 0.4rem;
    text-transform: uppercase;
    letter-spacing: 0.08rem;
    font-weight: 600;
    color: #999;
    transition: all .2s ease-in-out;
    transform: scale(0);
}

.wrapper form .label#from::after {
    content: 'From';
}

.wrapper form .label#to::after {
    content: 'To';
}

.wrapper form .label#depart::after {
    content: 'Depart Date';
}

.wrapper form .label#return::after {
    content: 'Return Date';
}

.wrapper form .label#psngr::after {
    content: 'Traveller(s)';
}

.wrapper form input[type="text"]:focus ~ .label::after {
    top: -15px;
    left: 0px;
    transform: scale(1);
}

.wrapper form input[type="date"]:focus ~ .label::after {
    top: -15px;
    left: 0px;
    transform: scale(1);
}

/* Margin */
.margin {
    margin: 2rem 0rem;
}

/* Media Queries */
@media(max-width: 575.5px) {
    .wrapper {
        margin: 10px;
    }

        .wrapper form {
            padding: 20px;
            
        }

    .margin {
        margin: .2rem 0rem;
    }
}
/*Contact Form*/
/*body {
    font-family: 'Lato', sans-serif;
    z-index: 1000;
}

h1 {
    margin-bottom: 40px;
}*/
/*Contact form header sections - First Name, L. Name*/
/*label {
    color: #333;
}

.btn-send {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    width: 80%;
    margin-left: 3px;
}

.help-block.with-errors {
    color: #ff5050;
    margin-top: 5px;
}

.card {
    margin-left: 10px;
    margin-right: 10px;
    z-index: 1;
}*/

/*about us*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");

/**,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}*/

/*body {
    --color: rgba(30, 30, 30);
    --bgColor: rgba(245, 245, 245);
    min-height: 100vh;
    display: grid;
    align-content: center;
    gap: 2rem;
    padding: 2rem;
    font-family: "Poppins", sans-serif;
    color: var(--color);
    background: var(--bgColor);
}*/

/*h1 {
    text-align: center;
}*/

ul {
/*    --col-gap: 2rem;*/
    --row-gap: 2rem;
    --line-w: 0.25rem;
/*    display: grid;*/
    grid-template-columns: var(--line-w) 1fr;
    grid-auto-columns: max-content;
    column-gap: var(--col-gap);
    list-style: none;
/*    width: min(60rem, 90%);*/
    margin-inline: auto;
}

    /* line */
    ul::before {
        content: "";
        grid-column: 1;
        grid-row: 1 / span 20;
        background: rgb(225, 225, 225);
        border-radius: calc(var(--line-w) / 2);
    }

    /* columns*/

    /* row gaps */
    ul li:not(:last-child) {
        margin-bottom: var(--row-gap);
    }

    /* card */
    ul li {
        grid-column: 2;
        --inlineP: 1.5rem;
        margin-inline: var(--inlineP);
        grid-row: span 2;
        display: grid;
        grid-template-rows: min-content min-content min-content;
    }

        /* date */
        ul li .date {
            --dateH: 3rem;
            height: var(--dateH);
            margin-inline: calc(var(--inlineP) * -1);
            text-align: center;
            background-color: var(--accent-color);
            color: white;
            font-size: 1.25rem;
            font-weight: 700;
            display: grid;
            place-content: center;
            position: relative;
            border-radius: calc(var(--dateH) / 2) 0 0 calc(var(--dateH) / 2);
        }

            /* date flap */
            ul li .date::before {
                content: "";
                width: var(--inlineP);
                aspect-ratio: 1;
                background: var(--accent-color);
                background-image: linear-gradient(rgba(0, 0, 0, 0.2) 100%, transparent);
                position: absolute;
                top: 100%;
                clip-path: polygon(0 0, 100% 0, 0 100%);
                right: 0;
            }

            /* circle */
            ul li .date::after {
                content: "";
                position: absolute;
                width: 2rem;
                aspect-ratio: 1;
                background: var(--bgColor);
                border: 0.3rem solid var(--accent-color);
                border-radius: 50%;
                top: 50%;
                transform: translate(50%, -50%);
                right: calc(100% + var(--col-gap) + var(--line-w) / 2);
            }

        /* title descr */
        ul li .title,
        ul li .descr {
            background: var(--bgColor);
            position: relative;
            padding-inline: 1.5rem;
        }

        ul li .title {
            overflow: hidden;
            padding-block-start: 1.5rem;
            padding-block-end: 1rem;
            font-weight: 500;
        }

        ul li .descr {
            padding-block-end: 1.5rem;
            font-weight: 300;
        }

            /* shadows */
            ul li .title::before,
            ul li .descr::before {
                content: "";
                position: absolute;
                width: 90%;
                height: 0.5rem;
                background: rgba(0, 0, 0, 0.5);
                left: 50%;
                border-radius: 50%;
                filter: blur(4px);
                transform: translate(-50%, 50%);
            }

        ul li .title::before {
            bottom: calc(100% + 0.125rem);
        }

        ul li .descr::before {
            z-index: -1;
            bottom: 0.25rem;
        }

@media (min-width: 40rem) {
    ul {
        grid-template-columns: 1fr var(--line-w) 1fr;
    }

        ul::before {
            grid-column: 2;
        }

        ul li:nth-child(odd) {
            grid-column: 1;
        }

        ul li:nth-child(even) {
            grid-column: 3;
        }

        /* start second card */
        ul li:nth-child(2) {
            grid-row: 2/4;
        }

        ul li:nth-child(odd) .date::before {
            clip-path: polygon(0 0, 100% 0, 100% 100%);
            left: 0;
        }

        ul li:nth-child(odd) .date::after {
            transform: translate(-50%, -50%);
            left: calc(100% + var(--col-gap) + var(--line-w) / 2);
        }

        ul li:nth-child(odd) .date {
            border-radius: 0 calc(var(--dateH) / 2) calc(var(--dateH) / 2) 0;
        }
}

.credits {
    margin-top: 1rem;
    text-align: right;
}

    .credits a {
        color: var(--color);
    }

/*Card*/

.card {
    z-index: -1;
    border-radius: 20px;
    border: none;
    transform: scale(1.07);
    transition: background-color 0.4s;
}

    .card:hover {
        transition: all 0.2s;
    }

.header h1 {
    text-align: center;
    color: #fff;
    font-size: 70px;
}

/*footer*/

.footer-clean {
    padding: 50px 0;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    color: #fff;
    padding: 1em;
    width: 100%;
    top: 100%;
    position: absolute;
}


.footer-clean h3 {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 20px;
}

    .footer-clean ul {
        padding: 0;
        list-style: none;
        line-height: 1.6;
/*        font-size: 14px;*/
        margin-bottom: 0;
    }

        .footer-clean ul a {
            color: inherit;
            text-decoration: none;
            opacity: 0.8;
        }

            .footer-clean ul a:hover {
                opacity: 1;
            }

    .footer-clean .item.social {
        text-align: center;
        justify-content: center;
        align-content: center;
        align-items: center;
        justify-items: center;
    }

@media (max-width:767px) {
    .footer-clean .item {
        text-align: center;
        padding-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .footer-clean .item.social {
        text-align: center;
    }
}

.footer-clean .item.social > a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin-left: 10px;
    margin-top: 22px;
    color: inherit;
    opacity: 0.75;
}

    .footer-clean .item.social > a:hover {
        opacity: 0.9;
    }

@media (max-width:991px) {
    .footer-clean .item.social > a {
        margin-top: 40px;
    }
}

@media (max-width:767px) {
    .footer-clean .item.social > a {
        margin-top: 10px;
    }
}

.footer-clean .copyright {
    margin-top: 14px;
    margin-bottom: 0;
    font-size: 13px;
    opacity: 0.6;
}

/*navbar contacts*/
.header-nav {
    text-align: center;
    justify-content: center;
    overflow: visible;
    display: flex;
}

    .header-nav ul {
        height: 25px;
        display: block;
        padding: 0 22px;
        position: relative;
        text-decoration: none;
        background: white;
        vertical-align: top;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-border-radius: 44px;
        border-radius: 44px;
        text-align: center;
        overflow: hidden;
        flex-wrap: wrap;
    }

.app-icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.vertical {
    width: 300px;
    flex-direction: row;
}

.android {
    width: 150px;
}

.apple {
    width: 164px;
}

.table {
    white-space: wrap;
    overflow-x: auto;
}

.card-img-top {
    border-radius: 50%;
    width: 200px;
}

/*login form*/

.login-box {
    -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

@media (min-width: 992px) {
    .login-box {
        margin: 40px 0;
    }
}

.login-box .form-wrap {
    padding: 30px 25px;
    border-radius: 10px;
    -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
    .login-box .form-wrap {
        padding: 45px;
    }
}

@media (min-width: 992px) {
    .login-box .form-wrap {
        margin-top: -40px;
        margin-bottom: -40px;
        padding: 60px;
    }
}

.login-box .socials a {
    -webkit-box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.12);
}

.login-section {
    position: relative;
    z-index: 0;
}

    .login-section::after {
        position: absolute;
        content: '';
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        opacity: 0.15;
        z-index: -1;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top right;
        -webkit-animation-duration: 3s;
        animation-duration: 3s;
        -webkit-animation-direction: alternate;
        animation-direction: alternate;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-name: pulse;
        animation-name: pulse;
    }

    .login-section::before {
        position: absolute;
        content: '';
        opacity: 0.10;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-size: cover;
        background-position: top right;
        -webkit-animation-duration: 6s;
        animation-duration: 6s;
        -webkit-animation-direction: alternate;
        animation-direction: alternate;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-name: pulse;
        animation-name: pulse;
    }

    .login-section .content {
        padding: 45px;
    }

.form-group .zmdi {
    position: absolute;
    z-index: 1;
    color: #fff;
    background-color: #4e63d7;
    border-radius: 5px;
    height: 100%;
    width: 45px;
    text-align: center;
    font-size: 20px;
    padding-top: 13px;
}

.form-group input[type='text'], .form-group input[type='email'], .form-group input[type='password'] {
    padding-left: 60px;
}

.form-control {
    border: 1px solid #e1e1e1;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 5px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    background-color: #fff;
    color: #858585;
    font-weight: 400;
    position: relative;
}

.login-box .socials a {
    -webkit-box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.12);
}

.socials a {
    width: 35px;
    height: 35px;
    background-color: #6893e1;
    border-radius: 50%;
    -webkit-box-shadow: 0 3px 2px 0 #516cd9;
    box-shadow: 0 3px 2px 0 #516cd9;
    text-align: center;
    color: #fff;
    padding-top: 10px;
    font-size: 16px;
    margin-right: 10px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
/*language picker*/
.form-select {
    display: block;
    width: 130px;
    padding: .375rem 2.25rem .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #212529;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 16px 12px;
    border: 1px solid #a3a3a3;
    border-radius: .25rem;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    color: rgba(255,255,255,.7);
    font-weight: 500;
}
select {
    margin: 40px;
    color: #fff;
    }

    select:hover {
        background: rgb(246,31,41);
        background-image: linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%);
        border-radius: 50px;
    }
    select option {
        background-color: #FFA8A8;
    }

    /*Scrollbar*/
    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }

/* Track */
::-webkit-scrollbar-track {
    background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    border-radius: 10px;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        
        background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    }

/*login buttons redirect*/
.fa {
    padding: 20px;
    font-size: 40px;
    width: 55px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 100%;
}

    .fa:hover {
        opacity: 0.7;
    }


.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}
.fa-linkedin {
    background: #007bb5;
    color: white;
}

/*carousel cards*/
